.post-exit-active {
	animation: post-animation 800ms ease-out forwards;
}

.post-enter-active {
	animation: post-animation 800ms ease-in alternate-reverse;
}

@keyframes post-animation {
	0% {
		transform: translateX(0);
	}

	30% {
		opacity: 0.7;
		transform: translateX(30px);
	}

	100% {
		opacity: 0;
		transform: translateX(-200px);
	}
}